<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!-- Параметры логирования -->
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="demonListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="demon.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <!-- Парамеры приложения -->
  <appSettings>
    <!-- Адрес блока сенсоров -->
    <add key="SBhost" value="127.0.0.1" />
    <!-- Порт блока сенсоров -->
    <add key="SBport" value="2000" />
    <!-- Интервал опроса блока сенсоров -->
    <add key="SBinterval" value="4000" />
    <!-- таймаут запроса сокета -->
    <add key="SocketSendTimeout" value="10000" />
    <!-- таймаут ответа сокета -->
    <add key="SocketReciveTimeout" value="10000" />
    <!-- ??? -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!-- Автосгенеренные системные параметры -->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>